header.header
  .container
    .header__content
      .header__logo
        img(src=require("../../img/icons/logo.png") alt="logo" class="header__logo-image")
      .header__telephone
        a(href="tel:+79000000000" class="header__telephone-link") +7(900)000-00-00
