doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    )
    title Мини-погрузчик JCB
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

  body 
    include assets/components/header/header
    main.main
      include assets/components/hero/hero
      include assets/components/models/models
      include assets/components/footer/footer
      include assets/components/modals/price-modal
      include assets/components/modals/leasing-modal
      