:root {
    --bg-body:#F2F2F2;
    --font-white: #FFFFFF;
    --font-black: #000000;
    --accent: #ff5234;
    --border-color-status: #A60000;
    --border-color-card: #CECECE;
}

$fz-main-title: 58.3px;
$fz-main-subtitle: 25px;

$fz-form-title: 30px;
$fz-form-text: 20px;
$fz-form-btn:20px;
$fz-form-input:20px;

$fz-title-model:18px;
$fz-status-model: 14px;
$fz-title-desc: 16px; // for card model
$fz-value-desc: 16px; // for card model
$fz-btns-model: 16px;
